.navbar {
    background-color: #060b26;
    z-index: 1; /* Stay on top */
    height: 8%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar-menu {
    background-color: #060b26;
    width: 300px;
    height: 100%;
    border-color: red;
    position: fixed;
    z-index: 1; /* Stay on top */
    top: 0; 
    left: -100%;
    transition: 400ms;
}

.navbar-menu-list {
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.navbar-main-icon {
    padding-left: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 2rem;
    list-style: none;
    box-sizing: border-box;
    height: 8vh;
    color: #0f00ed;
}

.navbar-menu.active {
    left: 0;
}

.navbar-menu-list-item a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    display: block;
    border-radius: 6px;
    padding: 16px 0px 16px 38px;
}

.navbar-menu-list-item a:hover {
    background-color: #1a83ff;
}

span {
    margin-left: 16px;
}
