.App {
}

.App-section {
  height: 50%;
  width: 100%;
  position: fixed;
  left: 0;
  color: white;
}

.section-1 {
  top: 0;
  background-color: red;
  border: 5px solid blue;
}

.section-2 {
  bottom: 0;
  background-color: #E0BBE4;
  border: 5px solid gray;
}

.center-text {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 200px 200px;
  border: 3px solid green;
}

#login {
  /* display: none; */
}

#loggedin {
  /* display: none; */
}

